<launch>
  <!-- Record-only HW-CAL entry point.  It starts no detector or tracker. -->
  <arg name="bag_path" default="hw_cal"/>
  <arg name="trial_id" default="HW-CAL01"/>
  <arg name="capability_output"
       default="/tmp/mid360_spherical_capability.json"/>
  <arg name="output_frame" default="world"/>
  <arg name="driver_config"
       default="$(find livox_ros_driver2)/config/MID360_spherical_config.json"/>
  <arg name="observer_pose_topic" default="/uav1/odometry/odom_main"/>
  <arg name="target_truth_topic" default="/evaluation/target_truth"/>
  <arg name="time_sync_diagnostics_topic"
       default="/uav1/mid360/ray_source_diagnostics"/>

  <include file="$(find mid360_spherical_capability_probe)/launch/hardware_spherical_pipeline.launch">
    <arg name="capability_output" value="$(arg capability_output)"/>
    <arg name="trial_id" value="$(arg trial_id)"/>
    <arg name="output_frame" value="$(arg output_frame)"/>
    <arg name="driver_config" value="$(arg driver_config)"/>
  </include>

  <node pkg="rosbag" type="record" name="hw_cal_recorder" output="screen"
        args="--lz4 -O $(arg bag_path)
              /uav1/mid360/points_raw
              /uav1/mid360/rays_raw
              /uav1/mid360/scan_identity
              /uav1/mid360/points_world
              /uav1/mid360/rays_checked
              $(arg observer_pose_topic)
              $(arg target_truth_topic)
              $(arg time_sync_diagnostics_topic)
              /uav1/mid360/ray_source_mode
              /diagnostics /tf /tf_static"/>
</launch>
