<launch>
  <!-- Algorithm-only launch. The common preprocessor/sensor source is owned
       by the caller so B0 and SOFT-VoFOD can consume the same immutable data. -->
  <arg name="uav_name" default="uav1"/>
  <arg name="world_frame_id" default="world"/>
  <arg name="points_world" default="/$(arg uav_name)/mid360/points_world"/>
  <arg name="rays_checked" default="/$(arg uav_name)/mid360/rays_checked"/>
  <arg name="config"
       default="$(find soft_vofod_mid360)/config/soft_vofod_v3_canonical.yaml"/>
  <arg name="config_overlay"
       default="$(find soft_vofod_mid360)/config/no_overlay.yaml"/>
  <arg name="birth_min_groups" default="5"/>
  <arg name="opportunity_aware_existence" default="false"/>
  <arg name="target_feedback" default="true"/>
  <arg name="hungarian_association" default="true"/>
  <arg name="survival_lambda_per_s" default="0.1"/>
  <arg name="track_conditioned_packet_split" default="true"/>
  <arg name="cv_ca_imm" default="true"/>
  <arg name="survival_prediction" default="true"/>
  <arg name="reportability_filtering" default="true"/>
  <arg name="dormant_reacquisition" default="true"/>
  <arg name="two_stage_dormant_reactivation" default="false"/>
  <arg name="certified_free_detection" default="true"/>
  <arg name="epistemic_unknown_birth" default="true"/>
  <arg name="sequential_unknown_inference" default="true"/>
  <arg name="effective_opportunity_cells" default="true"/>
  <arg name="range_conditioned_opportunity_return" default="true"/>
  <arg name="anisotropic_los_covariance" default="false"/>
  <arg name="output" default="screen"/>

  <node pkg="soft_vofod_mid360" type="soft_vofod_node"
        name="soft_vofod" output="$(arg output)">
    <rosparam file="$(arg config)"/>
    <rosparam file="$(arg config_overlay)"/>
    <param name="world_frame_id" value="$(arg world_frame_id)"/>
    <param name="input/points_world_topic" value="$(arg points_world)"/>
    <param name="input/rays_checked_topic" value="$(arg rays_checked)"/>
    <param name="birth/min_groups" value="$(arg birth_min_groups)"/>
    <param name="ablation/opportunity_aware_existence"
           value="$(arg opportunity_aware_existence)"/>
    <param name="ablation/target_feedback" value="$(arg target_feedback)"/>
    <param name="ablation/hungarian_association"
           value="$(arg hungarian_association)"/>
    <param name="tracker/survival_lambda_per_s"
           value="$(arg survival_lambda_per_s)"/>
    <param name="ablation/track_conditioned_packet_split"
           value="$(arg track_conditioned_packet_split)"/>
    <param name="ablation/cv_ca_imm" value="$(arg cv_ca_imm)"/>
    <param name="ablation/survival_prediction"
           value="$(arg survival_prediction)"/>
    <param name="ablation/reportability_filtering"
           value="$(arg reportability_filtering)"/>
    <param name="ablation/dormant_reacquisition"
           value="$(arg dormant_reacquisition)"/>
    <param name="ablation/two_stage_dormant_reactivation"
           value="$(arg two_stage_dormant_reactivation)"/>
    <param name="map/require_certified_free_for_events"
           value="$(arg certified_free_detection)"/>
    <param name="ablation/epistemic_unknown_birth"
           value="$(arg epistemic_unknown_birth)"/>
    <param name="ablation/sequential_unknown_inference"
           value="$(arg sequential_unknown_inference)"/>
    <param name="ablation/effective_opportunity_cells"
           value="$(arg effective_opportunity_cells)"/>
    <param name="ablation/range_conditioned_opportunity_return"
           value="$(arg range_conditioned_opportunity_return)"/>
    <param name="event/packet_anisotropic_los_covariance"
           value="$(arg anisotropic_los_covariance)"/>
  </node>
</launch>
