<?xml version="1.0"?>
<launch>
  <arg name="gui" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="run_preprocessor" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mid360_multi_uav_sim)/worlds/E0_open.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="true"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_uav1_observer"
        output="screen"
        args="-sdf -file $(find mid360_multi_uav_sim)/models/observer_uav/model.sdf -model uav1 -robot_namespace /uav1 -x 0 -y 0 -z 2.0"/>

  <!-- Standard TF used by the preprocessor. The plugin separately publishes
       the same fixed mount on /tf_gazebo_static for Gazebo provenance. -->
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="world_to_uav1_fcu"
        args="0 0 2.0 0 0 0 1 world uav1/fcu"/>
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="uav1_fcu_to_mid360"
        args="0 0 0.25 0 0 0 1 uav1/fcu uav1/mid360_link"/>

  <include if="$(arg run_preprocessor)"
           file="$(find mid360_ray_preprocessor)/launch/preprocessor.launch">
    <arg name="ray_time_geometry_mode" value="snapshot"/>
    <arg name="output_frame" value="world"/>
  </include>
</launch>
