<?xml version="1.0"?>
<launch>
  <arg name="gui" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="run_preprocessor" default="true"/>
  <arg name="run_scenario_manager" default="true"/>
  <arg name="scenario_config"
       default="$(find mid360_multi_uav_sim)/config/scenarios/S05.yaml"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"
         value="$(find mid360_multi_uav_sim)/worlds/E3_cluttered.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="true"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <!-- Only the dynamic observer owns a sensor; every target is sensor-free. -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_uav1_observer"
        output="screen"
        args="-sdf -file $(find mid360_multi_uav_sim)/models/observer_uav_dynamic/model.sdf -model uav1 -robot_namespace /uav1 -x -4 -y -5 -z 2.0 -Y -0.35"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_uav2_target"
        output="screen"
        args="-sdf -file $(find mid360_multi_uav_sim)/models/simplified_target_uav/model.sdf -model uav2 -x 7 -y -4 -z 2.25"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_uav3_target"
        output="screen"
        args="-sdf -file $(find mid360_multi_uav_sim)/models/simplified_target_uav/model.sdf -model uav3 -x 10 -y -1 -z 2.25"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_uav4_target"
        output="screen"
        args="-sdf -file $(find mid360_multi_uav_sim)/models/simplified_target_uav/model.sdf -model uav4 -x 12 -y 3 -z 2.25"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_uav5_target"
        output="screen"
        args="-sdf -file $(find mid360_multi_uav_sim)/models/simplified_target_uav/model.sdf -model uav5 -x 7 -y 5 -z 2.25"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_uav6_target"
        output="screen"
        args="-sdf -file $(find mid360_multi_uav_sim)/models/simplified_target_uav/model.sdf -model uav6 -x 15 -y 0.8 -z 2.25"/>

  <!-- scenario_manager is the sole world -> uav1/fcu authority. -->
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="uav1_fcu_to_mid360"
        args="0 0 0.25 0 0 0 1 uav1/fcu uav1/mid360_link"/>

  <include if="$(arg run_preprocessor)"
           file="$(find mid360_ray_preprocessor)/launch/preprocessor.launch">
    <arg name="ray_time_geometry_mode" value="per_ray_pose"/>
    <arg name="output_frame" value="world"/>
    <arg name="tf_source_cadence_observation_enabled" value="true"/>
    <arg name="tf_source_cadence_topic" value="/tf"/>
    <arg name="tf_source_cadence_parent_frame" value="world"/>
    <arg name="tf_source_cadence_child_frame" value="uav1/fcu"/>
  </include>

  <node if="$(arg run_scenario_manager)"
        pkg="mid360_multi_uav_sim"
        type="scenario_manager.py"
        name="scenario_manager"
        output="screen">
    <param name="scenario_file" value="$(arg scenario_config)"/>
  </node>
</launch>
