<?xml version="1.0"?>
<launch>
  <arg name="uav_name"/>
  <arg name="custom_config"
       default="$(find mid360_multi_uav_sim)/config/mrs/custom_config.yaml"/>
  <arg name="world_config"
       default="$(find mid360_multi_uav_sim)/config/mrs/world_config.yaml"/>
  <arg name="network_config"
       default="$(find mid360_multi_uav_sim)/config/mrs/network_config.yaml"/>
  <arg name="platform_config"
       default="$(find mrs_uav_gazebo_simulation)/config/mrs_uav_system/x500.yaml"/>

  <include file="$(find mrs_uav_px4_api)/launch/api.launch">
    <arg name="UAV_NAME" value="$(arg uav_name)"/>
    <arg name="RUN_TYPE" value="simulation"/>
    <arg name="LOGGER_DEBUG" value="false"/>
  </include>

  <include file="$(find mrs_uav_core)/launch/core.launch">
    <arg name="UAV_NAME" value="$(arg uav_name)"/>
    <arg name="RUN_TYPE" value="simulation"/>
    <arg name="DEBUG" value="false"/>
    <arg name="LOGGER_DEBUG" value="false"/>
    <arg name="STANDALONE" value="false"/>
    <arg name="platform_config" value="$(arg platform_config)"/>
    <arg name="custom_config" value="$(arg custom_config)"/>
    <arg name="world_config" value="$(arg world_config)"/>
    <arg name="network_config" value="$(arg network_config)"/>
  </include>

  <include file="$(find mrs_uav_autostart)/launch/automatic_start.launch">
    <arg name="UAV_NAME" value="$(arg uav_name)"/>
    <arg name="RUN_TYPE" value="simulation"/>
  </include>
</launch>
