#!/usr/bin/env python
PACKAGE = "lidar_tracker_mid360"

from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()

gen.add("lkf__Q__position",    double_t,    0, "Position process-noise variance rate", 1.0,  0, 1.0)
gen.add("lkf__Q__velocity", double_t, 0, "Velocity process-noise variance rate",    10.0, 0,   10.0)
gen.add("lkf__Q__acceleration", double_t, 0, "Acceleration process-noise variance rate",    10.0, 0,   10.0)

gen.add("lkf__R__coeff", double_t, 0, "Scaling coefficient for the measurement uncertainty covariance",    0.1, 0,   10.0)

gen.add("lkf__P__init__position", double_t, 0, "Initial position variance",    0.1, 0,   10.0)
gen.add("lkf__P__init__velocity", double_t, 0, "Initial velocity variance",    0.1, 0,   10.0)
gen.add("lkf__P__init__acceleration", double_t, 0, "Initial acceleration variance",    0.1, 0,   10.0)

exit(gen.generate(PACKAGE, "LidarTracker", "covmat"))
