<?xml version="1.0"?>
<launch>
  <arg name="world"
       default="$(find livox_laser_simulation)/worlds/ray_bundle_empty.world"/>
  <arg name="scenario" default="empty"/>
  <arg name="gui" default="false"/>
  <arg name="verbose" default="false"/>

  <include file="$(find livox_laser_simulation)/launch/ray_bundle_test.launch">
    <arg name="world" value="$(arg world)"/>
    <arg name="scenario" value="$(arg scenario)"/>
    <arg name="run_validator" value="false"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="true"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher"
        name="gate5_plugin_fixture_tf"
        args="0 0 0 0 0 0 1 world uav1/mid360"/>

  <include file="$(find mid360_ray_preprocessor)/launch/preprocessor.launch">
    <arg name="ray_time_geometry_mode" value="snapshot"/>
    <arg name="output_frame" value="world"/>
  </include>

  <include file="$(find vofod_mid360)/launch/b0.launch">
    <arg name="uav_name" value="uav1"/>
    <arg name="world_frame_id" value="world"/>
    <arg name="points_world_topic" value="/uav1/mid360/points_world"/>
    <arg name="rays_checked_topic" value="/uav1/mid360/rays_checked"/>
    <arg name="output" value="screen"/>
  </include>
</launch>
