<?xml version="1.0"?>
<launch>
  <arg name="motion_case" default="stationary"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="true"/>
  <arg name="verbose" default="false"/>
  <arg name="run_validator" default="true"/>
  <arg name="timeout_sec" default="45"/>
  <arg name="model_name" default="mid360_b_t4_per_ray_observer"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"
         value="$(find livox_laser_simulation)/worlds/b_t4_per_ray_static_wall.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <node name="spawn_mid360_b_t4_per_ray_observer"
        pkg="gazebo_ros"
        type="spawn_model"
        output="screen"
        args="-sdf -file $(find livox_laser_simulation)/models/b_t4_per_ray_observer/model.sdf -model $(arg model_name)"/>

  <node if="$(arg run_validator)"
        name="b_t4_per_ray_wall_validator"
        pkg="livox_laser_simulation"
        type="b_t4_per_ray_wall_validator.py"
        output="screen"
        required="true">
    <param name="motion_case" value="$(arg motion_case)"/>
    <param name="model_name" value="$(arg model_name)"/>
    <param name="timeout_sec" value="$(arg timeout_sec)"/>
  </node>
</launch>
