<?xml version="1.0"?>
<launch>
  <arg name="gui" default="false"/>
  <arg name="headless" default="true"/>
  <arg name="verbose" default="false"/>
  <arg name="timeout_sec" default="20.0"/>
  <arg name="run_validator" default="true"/>

  <include file="$(find livox_laser_simulation)/launch/ray_bundle_test.launch">
    <arg name="world"
         value="$(find livox_laser_simulation)/worlds/ray_bundle_single_wall.world"/>
    <arg name="scenario" value="wall"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="timeout_sec" value="$(arg timeout_sec)"/>
    <arg name="run_validator" value="$(arg run_validator)"/>
  </include>
</launch>
