<?xml version="1.0"?>
<launch>
  <!-- Override world/model to reuse this headless harness with additional cases. -->
  <arg name="world"
       default="$(find livox_laser_simulation)/worlds/ray_bundle_empty.world"/>
  <arg name="model"
       default="$(find livox_laser_simulation)/models/ray_bundle_test/model.sdf"/>
  <arg name="model_name" default="mid360_ray_bundle_test_sensor"/>
  <arg name="scenario" default="empty"/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="yaw" default="0"/>

  <arg name="paused" default="false"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>

  <arg name="run_validator" default="true"/>
  <arg name="ray_topic" default="/uav1/mid360/rays_raw"/>
  <arg name="point_topic" default="/uav1/mid360/points_raw"/>
  <arg name="diagnostics_topic" default="/uav1/mid360/ray_source_diagnostics"/>
  <arg name="expected_frame" default="uav1/mid360"/>
  <arg name="samples" default="20000"/>
  <arg name="downsample" default="1"/>
  <arg name="required_bundles" default="3"/>
  <arg name="timeout_sec" default="20.0"/>
  <arg name="require_pattern_wrap" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <node name="spawn_mid360_ray_bundle_test_sensor"
        pkg="gazebo_ros"
        type="spawn_model"
        output="screen"
        args="-sdf -file $(arg model) -model $(arg model_name) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)"/>

  <node if="$(arg run_validator)"
        name="ray_bundle_validator"
        pkg="livox_laser_simulation"
        type="ray_bundle_validator.py"
        output="screen"
        required="true">
    <param name="mode" value="$(arg scenario)"/>
    <param name="ray_topic" value="$(arg ray_topic)"/>
    <param name="point_topic" value="$(arg point_topic)"/>
    <param name="diagnostics_topic" value="$(arg diagnostics_topic)"/>
    <param name="expected_frame" value="$(arg expected_frame)"/>
    <param name="samples" value="$(arg samples)"/>
    <param name="downsample" value="$(arg downsample)"/>
    <param name="pattern_step" value="$(arg downsample)"/>
    <param name="required_bundles" value="$(arg required_bundles)"/>
    <param name="timeout_sec" value="$(arg timeout_sec)"/>
    <param name="require_pattern_wrap" value="$(arg require_pattern_wrap)"/>
    <param name="csv_file"
           value="$(find livox_laser_simulation)/scan_mode/mid360-real-centr.csv"/>
  </node>
</launch>
